@import url("https://netdna.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css");
body {
  font-family: Times New Roman; }

.wrapper {
  max-width: 1500px;
  margin: 0 auto; }
  .wrapper .home {
    background: url(../img/header.jpg) no-repeat;
    -webkit-background-size: cover;
            background-size: cover;
    background-position: center; }
    .wrapper .home .header {
      padding-top: 27px;
      padding-bottom: 337px; }
      .wrapper .home .header .top_nav, .wrapper .home .header .logo {
        display: inline-block;
        vertical-align: middle; }
      .wrapper .home .header .top_nav {
        padding: 0;
        margin: 50px 40px 40px 40px; }
        .wrapper .home .header .top_nav li {
          display: inline-block;
          list-style-type: none;
          margin: auto 15px auto 15px; }
          .wrapper .home .header .top_nav li a {
            color: #1a1a1a;
            text-transform: uppercase;
            font-size: 12px;
            font-weight: bold;
            text-decoration: none;
            outline: none; }
            .wrapper .home .header .top_nav li a:hover {
              padding-bottom: 3px;
              border-bottom: 2px solid #1a1a1a; }
  .wrapper .about .col-md-6 {
    padding: 0; }
  .wrapper .about .pic {
    position: relative;
    background: url(../img/about.jpg);
    -webkit-background-size: cover;
            background-size: cover;
    background-position: center;
    width: 100%; }
    .wrapper .about .pic p {
      position: absolute;
      top: 40%;
      left: 30%;
      border: 10px solid #010101;
      padding: 2% 5%;
      text-transform: uppercase;
      font-weight: bold;
      color: #010101;
      font-size: 36px;
      display: block; }
  .wrapper .about .info {
    background-color: #f2efe5; }
    .wrapper .about .info img {
      margin: 14% auto 5% auto; }
    .wrapper .about .info h5 {
      font-size: 15px;
      margin: 32px 20px auto 20px;
      padding-bottom: 16%; }
  .wrapper .about-gellary .col-md-12 {
    padding: 0; }
    .wrapper .about-gellary .col-md-12 img {
      display: inline-block;
      margin: auto -2px auto -2px;
      width: 16.72%; }
  .wrapper .coment {
    background: url(../img/bg-about.png) no-repeat;
    background-position: center;
    -webkit-background-size: cover;
            background-size: cover; }
    .wrapper .coment p {
      margin-top: 161px;
      font-size: 24px;
      font-weight: bold;
      color: #f2efe5;
      text-align: center;
      font-family: Cambria; }
    .wrapper .coment h5 {
      font-size: 14px;
      text-align: right;
      color: #f2efe5;
      margin: 60px 20% 60px auto; }
