@import url("https://netdna.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css");

.home
  background: url(../img/header.jpg) no-repeat;
  background-size: cover;
  background-position: center;
  .header
    padding-top: 27px;
    padding-bottom: 337px;
    .top_nav,.logo
      display: inline-block;
      vertical-align: middle;
    .top_nav
      padding: 0;
      margin: auto 40px auto 40px;
      margin-top: 50px;
      li
        display: inline-block;
        list-style-type: none;
        margin: auto 15px auto 15px;
        a
          color: #1a1a1a;
          text-transform: uppercase;
          font-size: 12px;
          font-weight: bold;
          text-decoration: none;
          outline: none;
          &:hover
            padding-bottom: 3px;
            border-bottom: 2px solid #1a1a1a;
